

  
<ion-content color="dark">
    
  <p class="text">Abbonamento</p>

  <ng-template #noAbbonamento>
  <p></p>
  </ng-template>
  <div *ngIf="user.abbonamento.stato===true;else  noAbbonamento"> 
     
  <ion-card color="secondary" line="none"  class="Item">
    <p class="title">{{user.displayName}}</p>
    <img src="assets/iconWhite.png" class="icon" width = "25" height="25" >
    <img src= {{user.image}} width = "45" height="45" class="foto" >
    <p class="inizio"> Abbonato dal: {{startDate  | date: 'dd/MM/yyyy'}}</p>
    <p *ngIf ="isActive === true ; else notActive"   class="fine">Scadenza: {{endDate  | date: 'dd/MM/yyyy'}}</p>
    <ng-template #notActive>
      <p  class="Fine">
        Scaduto il: {{endDate  | date: 'dd/MM/yyyy'}}
      </p>
    </ng-template>
    </ion-card>
    <ng-template #noCertificato>
    <ion-card color="warning" class="firstWarning">
      Consegnare certificato medico
    </ion-card>

    </ng-template>

    <ion-card *ngIf = "user.abbonamento.certificato === true ; else noCertificato"color="success"class="firstSuccess">
      Certificato medico consegnato
    </ion-card>

    <ng-template #noAssicurazione>
      <ion-card class="secondWarning" color="warning">
        Consegnare assicurazione
      </ion-card>

    </ng-template>

    <ion-card *ngIf= "user.abbonamento.assicurazione === true ; else noAssicurazione" color="success" class="secondSuccess">
      Assicurazione consegnata
    </ion-card>
  </div>
    
  </ion-content>
