<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color ="dark">
  <ion-item color="medium" line="none " class ="item">
    <ion-label>Notifiche</ion-label>
  </ion-item>

  <p class = "nome1"> Francesco Zappacosta </p>
  <p class = "nome2"> Francesco Pio Schiena </p>
  <p class = "nome3"> Marco Matteucci </p>
  <img src="assets/logo-aquila.png" height="70" width="120" class="icon">
</ion-content>