<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs/home" color="dark">
      </ion-back-button>
    </ion-buttons>
    <ion-title color ="dark" >settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color ="dark">
  <ion-item color="medium" line="none " class ="item">
    <ion-label>Notifiche</ion-label>
    <ion-toggle slot="end" color="success"></ion-toggle>
  </ion-item>
  <p class="p" [translate]="'settings.notificationsDescription' " > </p>
  <p class="p1">Cambia Lingua:</p>
  <ion-item color="medium">
      <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="it">Italian</ion-select-option>
      </ion-select>
    </ion-item>


     <ion-item   color="medium" >
     <ion-label> Policy</ion-label>
        <ion-icon name="chevron-forward" color ="primary" routerLink="/policy" slot="end"></ion-icon>
      </ion-item>
     
     
     <p class ="nome1"> Francesco Zappacosta </p>
     <p class="nome2"> Francesco Pio Schiena </p>
     <p class="nome3"> Marco Matteucci </p>
    
     <img src="assets/logo-aquila.png" height="70" width="120" class="icon">
</ion-content>
