

<ion-content color="dark">
<ion-tabs class="bottom_nav">
  <ion-tab-bar slot ="bottom" color="dark" >
    <ion-tab-button *ngIf= "user.abbonamento.stato===true;else noAbb" tab="abbonamento" (click)="vaiAbb()" class="b" >
       <ion-icon   name="albums" ></ion-icon>
      <ion-label >Abbonamento</ion-label>
    </ion-tab-button>

    <ng-template #noAbb>
      <ion-tab-button (click)="NoAbb()" class="b">
      <ion-icon   name="albums"  ></ion-icon>
      <ion-label  >Abbonamento</ion-label>
    </ion-tab-button>
    </ng-template>
    
      

    <ion-tab-button tab="home" class="b">
      <ion-icon  name="home"></ion-icon>
      <ion-label  >Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenotazioni" (click)="vaiPrenotazioni()" class="b">
      <ion-icon  name="calendar"></ion-icon>
      <ion-label  >Prenotazioni</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
</ion-content>
