<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/notifications" color="dark">
      </ion-back-button>
    </ion-buttons>
    <ion-title color = "dark">policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 <img src ="assets/icon.png" class="icon" height="40" width="40">
 <h1 class="h1"> Policy LightWeight</h1>
 <ion-item color="medium" class="item">
  <p class="p">
    Privacy Policy *Example*

This website is operated by [school/Trust name] and whose registered address is [school/Trust address] (“We”) are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating electronically with us.

This policy sets out how we process any personal data we collect from you or that you provide to us through our website. We confirm that we will keep your information secure and that we will comply fully with all applicable UK Data Protection legislation and regulations. Please read the following carefully to understand what happens to personal data that you choose to provide to us, or that we collect from you when you visit this site. By visiting [URL of school/Trust website] (our website) you are accepting and consenting to the practices described in this policy.
Types of information we may collect from you

We may collect, store and use the following kinds of personal information about individuals who visit and use our website:

Information you supply to us. You may supply us with information about you by filling in forms on our website. This includes information you provide when you submit a contact/enquiry form [list any other active forms on your website (ie. Request a Prospectus Form, Application Form, Report and Absence Form, etc.]. The information you give us may include your name, address, e-mail address and phone number, [list any other types of information you collect via other active forms on your website (ie. child’s name, child’s date of birth, etc.)].

Information our website automatically collects about you. With regard to each of your visits to our website we may automatically collect information including the following:

    technical information, including a truncated and anonymised version of your Internet protocol (IP) address, browser type and version, operating system and platform;
    information about your visit, including what pages you visit, how long you are on the site, how you got to the site (including date and time); page response times, length of visit, what you click on, documents downloaded and download errors.

[Describe any other types of information you may collect through third party services you may have enabled on your website not linked to Cleverbox (ie. other tracking, marketing or SEO services)]

Cookies

Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. For detailed information on the cookies we use and the purposes for which we use them see our Cookie Policy [Make this link to the cookie policy page on your website that will be automatically updated by Cleverbox].
How we may use the information we collect

We use the information in the following ways:

Information you supply to us. We will use this information:

    to provide you with information and/or services that you request from us;

[Describe any other uses of the information you collect (ie. other marketing communications to individuals who have requested a prospectus)]

Information we automatically collect about you. We will use this information:

    to administer our site including troubleshooting and statistical purposes;
    to improve our site to ensure that content is presented in the most effective manner for you and for your computer;
    security and debugging as part of our efforts to keep our site safe and secure.

This information is collected anonymously and is not linked to information that identifies you as an individual. We use Google Analytics to track this information. Find out how Google uses your data at https://support.google.com/analytics
  </p>
 </ion-item>

</ion-content>
