<ion-header>

</ion-header>





<ion-content *ngIf="user.uid!=='';else start"  color="dark" class = "body">
  <section class="profile_nav">
    <div class="profile_nav_sub profile_image">
      <img src={{user.image}} routerLink="/profile" id="profile_picture"><img>
    </div>
    <div class="profile_nav_sub profile_section profile_text">
      <p><small>Benvenuto</small><br>{{user.displayName}}</p>
    </div>
    <div class="profile_nav_sub profile_section">
      <ion-icon name="notifications-outline" class="profile_icon" routerLink="/notifications"></ion-icon>
      <ion-icon name="settings-outline" class="profile_icon" routerLink="/settings"></ion-icon>
    </div>
  </section>

  <section>
    <ng-template #open>
      <div class="stato_informazioni background_success">
        <p>Chiusura alle {{stringChiusura}}</p>
      </div>
    </ng-template>

    <ng-template #closed>
      <div class="stato_informazioni background_warn">
        <p>Apertura alle {{stringApertura}}</p>
      </div>
    </ng-template>

    <div *ngIf="IsOpen === true; then open else closed"
    class="informazioni_servizio"></div>



    <div *ngIf="giorniAbbonamentoRimasti >0; then abbonato else scaduto" class="scadenza_abbonamento">
      
    </div>

    <ng-template #abbonato>
      <div class="stato_informazioni background_success">
        <p>Scadenza abbonamento tra {{giorniAbbonamentoRimasti}} giorni</p>
      </div>
    </ng-template>
    <ng-template #scaduto>
      <ng-template #abbonamento_presente>
        <p>Abbonamento Scaduto</p>
      </ng-template>

      <ng-template #abbonamento_assente>
        <p>Nessun Abbonamento</p>
      </ng-template>
      
      <div *ngIf ="user.abbonamento.stato === true; then abbonamento_presente else abbonamento_assente " class="stato_informazioni background_warn">
      </div>
    </ng-template>
  </section>
   
  <div *ngIf="user.schede.length > 0; else crea">
    <p >Schede allenamento</p>

    <ion-slides pager="true">

      <ion-slide *ngFor="let scheda of user.schede">
        <ion-card class="scheda" color="medium" (click)="navigateToScheda(scheda)">
          <ion-card-header>
            <ion-card-title class="schedaTitle">{{scheda.nome}}</ion-card-title>

          </ion-card-header>

          <ion-card-content>
            <img src={{scheda.immagine}} width="45" height="45" class="schedaImg">
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="medium" class="scheda">
          <ion-card-header>
            <ion-card-title class="schedaTitle">Nuova scheda</ion-card-title>

          </ion-card-header>
          <ion-card-content>
            <ion-icon name="add-circle-outline" color="primary" (click)="presentActionSheet()" class="Plus"></ion-icon>
          </ion-card-content>

        </ion-card>

      </ion-slide>



    </ion-slides>
  </div>





  <ng-template #crea>
    
    <p class="schede">
      Crea una nuova scheda
    </p>

    <div class="div">
      <ion-icon name="add-circle-outline" color="primary" class="plus" (click)="presentActionSheet()"></ion-icon>
    </div>
  </ng-template>



</ion-content>


<ng-template #start>
  <ion-content color="dark" class= "spinnerDiv">
    <ion-spinner class="spinner" color="primary"></ion-spinner>
  </ion-content>
</ng-template>