<ion-header>
 
</ion-header>

<ion-content color ="dark">

  <div>
    <img src = {{user.image}} width = "45" height="45" (click)="userNavigate()" class="image">
    <img>
  </div>
    
      
 

<div>
  <ion-label class="title">
    Benvenuto
    </ion-label>
  </div>
  
    <ion-label  class ="username" id="username" position = "fixed" >
     {{user.displayName}}
      </ion-label> 

      <ion-icon name ="notifications-outline" class="notifications" routerLink ="/notifications" ></ion-icon>
      
      <ion-icon name ="ellipsis-vertical-outline" class="settings" routerLink ="/settings"></ion-icon>

  <ng-template #closed>
    <ion-card class="chiuso" color="danger" >
      <ion-card-title class="titleChiuso">Apre alle {{oraApertura }} : {{minutiApertura}}</ion-card-title>
      <ion-card-content>
      </ion-card-content>
   </ion-card>
  </ng-template>

  <div *ngIf = "IsOpen === true ; else closed">
    <ion-card class="orari" color="success" >
      <ion-card-title class="titleAperto">Chiude alle {{oraChiusura }} : {{minutiChiusura}}</ion-card-title>
      <ion-card-content id="orari" class="aperto" >
      </ion-card-content>
   </ion-card>
  </div>
    

  <ng-template #scaduto>
   
    <ion-card class="scaduto" color="danger" >
      <ion-card-title class="titleScaduto">Abbonamento Scaduto  </ion-card-title> 
    </ion-card>
     
  
  </ng-template>
     



  <ng-template #abbonato>
    <div *ngIf ="giorniAbbonamentoRimasti >0 && user.abbonamento.stato==true ; else scaduto">
      <ion-card class="abbonato" color="success" >
      <ion-card-title class="siAbb">Scadenza abbonamento tra {{giorniAbbonamentoRimasti}} giorni</ion-card-title> 
      </ion-card>
    </div>
  </ng-template>
    
  

    
  

<div *ngIf = "user.abbonamento.stato == false ; else abbonato">
  <ion-card  class="abbonamento" color="danger">
    <ion-card-title class="noAbb">Nessun Abbonamento</ion-card-title>
    
    </ion-card>
</div>
  
 

 
<div *ngIf="user.schede.length > 0; else crea"></div>
<p class="titleSchede">Schede allenamento</p>

<ion-slides pager="true">
  
    <ion-slide *ngFor="let scheda of schede">
      <ion-card  class = "scheda" color = "medium">
        <ion-card-header>
          <ion-card-title class="schedaTitle">{{scheda.nome}}</ion-card-title>
        
        </ion-card-header>
      
        <ion-card-content>
          <img src = {{scheda.immagine}} width = "45" height="45" class="schedaImg">
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="medium"  class = "scheda">
        <ion-card-header>
          <ion-card-title class="schedaTitle">Nuova scheda</ion-card-title>
        
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="add-circle-outline" color="primary" (click)="presentActionSheet()" class="Plus"></ion-icon>
        </ion-card-content>
        
      </ion-card>
      
    </ion-slide>
  

 
</ion-slides>

  



  <ng-template #crea>
    <p class="schede">
      Crea una nuova scheda
    </p>
  

   <ion-icon name="add-circle-outline" color="primary" class="plus" (click)="presentActionSheet()" ></ion-icon>
  
  </ng-template>
   
    
  
</ion-content>

 