.body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.profile_nav{
    margin-top:50px;
    display: flex;
}
#profile_picture{
    height: 70px;
    width: 70px;
    border-radius: 999em;
}
.profile_icon{
    height: 25px;
    width: 25px;
    padding: 0em 0.3em;
}
.profile_image{
    padding: 0em 1em;
}

.profile_nav_sub{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_section{
    margin: auto;
}

.profile_text{
    flex-direction: column;
}

.abbonamento {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    
}
.abbonato {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
.aperto {
   text-align: center;
   color:black;  
}
.schede {
   margin-top:80px;
   text-align: center;
   font-size: small;
}
.stato_informazioni{
    display: flex;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.background_warn{
    background-color: red;
}
.background_succes{
    background-color: green;
}

.titleChiuso {
    margin-top: 5px;
    text-align: center;
    font-size: medium;
}

.titleAperto {
    margin-top: 5px;
    text-align: center;
    font-size: medium;
}

.noAbb{
    margin-top: 5px;
    text-align: center;
    font-size: medium;
}
.siAbb{
    margin-top: 7px;
    text-align: center;
    font-size: small;
}
.titleScaduto{
    margin-top: 5px;
    text-align: center;
    font-size: medium;
    
}
.scaduto{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
.plus{
    height: 45px;
    width: 45px;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

ion-slides {
    height: 250px;
  }

.titleSchede{
    text-align: center;
    margin-top: 80px;
    font-size: medium;
}
.scheda{
    border-radius: 5px;
    font-size: small;
    width: 160px;
    height: 120px;
}

.schedaImg{
    height: 45px;
    width: 45px;
}

.schedaTitle{
    font-size: small;
}

.Plus{
    height: 40px;
    width: 40px;
}
.div{
    display: flex;
    justify-content: center;
}