
.header_scheda{
    font-size: larger;
    margin: 2em auto auto auto;
}

.column{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
}

p{
    margin: 0px;
    padding: 0px;
}

.stato_informazioni{
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
    background-color: #252525;
}

.second_info{
    margin-top: 1em;
}

.schedaImg{
    height: 100px;
    margin: 1em 3em;
}
.scheda{
    margin-bottom: 1.5em;
}

.swiper-pagination{
    margin: 1em;
}

.row{
    display: flex;
    flex-direction: row;
}

#profile_picture{
    height: 80px;
    border-radius: 50%;
    margin-left: 1em;
}

.m-auto{
    margin: auto;
}

.profile_nav{
    padding:1em 0em;
}

.profile_icons{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

.icon{
    height: 30px;
    width: 30px;
    margin-left: 1em;
}
.username{
    margin-top: 0.5em;
    font-size: large;
    margin-left: 1em;
}
#greetings{
    font-size: small;
}

.profile_text{
    margin-left: 2em;
}

.Plus{
    height: 100px;
    width: 100px;
    margin: 1em 3em;
}

.spinner{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


ion-slides{
    padding: 2em 0px;
}

.gym_info{
    margin-top: 2em;
}