.imgT{
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-bottom: auto; 
}
p{
  padding:0px;
  margin:0.5em 0px;
}


#title_esercizi{
  margin: 1em 0px 0px 0px;
}

.header_scheda{
  display: flex;
  flex-direction: row;  
  margin: 1.5em auto;
  padding: 0px 1em;
  width: fill;
  
}
.header_subtitle{
  width: fill;
}

#nome_scheda{
  margin:auto 2em;
}

.my-auto{
  margin-top:auto;
  margin-bottom:auto;
}


.white{
  color:white;
}
ion-back-button{
  margin: 0px;
  padding: 0px;
}
.card{
  display: flex;
  flex-direction: row;
  padding:0px;
  margin: 1em 0px;
  border-radius: 15px;

}

.image_esercizi{
  height: 70px;
  width: 140px;
  padding: 0px;
  margin: 0px;
  border-radius: 15px;
  margin-top:auto;
  margin-bottom: auto;
}

#content{
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.m-auto{
  margin: auto;
}
.text-center{
  text-align: center;
}

.excercise_descriptor{
  margin: 0px 2em;
}
.large_size{
  font-size: larger;
}
#ex_list{
  margin: 0px 2em;
  width: fill;
}

.trash{
  
    height: 30px;
    width: 30px;
    margin-top: -29.5px;
    z-index: 3;
    color: red;
}
.right{
  margin-left: auto;
}

.description{
  margin: 1em 0px;
}