
<ion-content *ngIf ="i!==null;"  color = "dark">
  
  <div id="content" class="column">   

    <div class="header_scheda">
      <div class="header_subtitle row left">
        <ion-back-button defaultHref="/tabs/home" class="white"></ion-back-button>
        <p *ngIf ="i!==null;" class="text-center large_size m-auto">{{schede[i].nome}}</p>        
      </div>
      <img src="assets/pencil.svg" class="imgT left" alt="modifie" (click)="modifica()">
      <img src="assets/trash.svg" class="imgT left" alt="modifie" (click)="presentActionSheet()">
    </div>
    <div class="row description">
      <img class="imgT left" src = {{schede[i].immagine}}>
      <p class="text-center large_size" id="nome_scheda" >{{schede[i].tipologia}}</p>
      
    </div>

    <ion-grid id="ex_list">
      <ion-card *ngFor="let exercise of currentEsercizi" color="medium" class="card">
        <div style="width: 40%;" class="column">
          <img src= {{exercise.immagine}} class="image_esercizi" (click)="setOpen(true , exercise)" >
        </div>
        <div class="column exercise_descriptor" style="width: 60%;">
            <div class="header_esercizi">
              <p class="title text-center large_size">{{ exercise.nome }}</p>
            </div>
            <div class="row">
              <div class="column m-auto">
                <p class="text-center">Serie</p>
                <p class="text-center large_size">
                  {{ exercise.nSerie}}
                </p>
              </div>
              <div class="column m-auto">
                <p class="text-center large_size"><b>X</b></p>
              </div>
              <div class="column m-auto">
                <p class="text-center">Rep</p>
                <p class="text-center large_size"> {{ exercise.nReps }}</p>
              </div>
            </div>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
              <ion-content color="dark">
                  <p class="text-center my-auto">{{currentTitle}}</p>
                  <ion-icon name="close-circle" (click)="setOpen(false , exercise)" color="primary" class="close">
                    </ion-icon>
                  <img src= {{currentImage}} class="currentImage" width="275"  height="120" >
                  <p class="currentDescrizione"> {{currentDescrizione}}</p>
                </ion-content>
              </ng-template>
            </ion-modal> 
        </div>
        
        
          
      </ion-card>
      
    
    </ion-grid>
    

  </div>
    
</ion-content>
