.tipologia{

  margin-top: 45px;
  text-align: center;
  font-size: smaller;
}

.imgT{
  margin-top: 30px;
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto; 
  margin-right: auto;

}
.esercizi{
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
  font-size: small;
  z-index: 5;
}

.p{
  font-size: small;
  margin-left: 15px;
}
.item{
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid{
  margin-top: 30px;
  margin-bottom: 30px;
}
.title{
  font-size: medium;
  position:absolute;
  margin-top: -10px;
}

.immagex{
  margin-top: 5px;
}

.imageEx{
  position:absolute;
  margin-left:170px;
  border-radius:999em;   
  -moz-border-radius:999em; 
  -webkit-border-radius:999em;
  -o-border-radius: 999em; 
  margin-top: -29.5px;
  z-index: 3;
  width: 65px;
  height: 30px;
}

.Item{
    position: absolute;
    margin-left: 150px;
    width: 100px;
    margin-top: -46px;

}

.Item2{
    position: absolute;
    margin-left: 150px;
    width: 100px;
    margin-top: -46px;
}

.close{
    position:absolute;
    margin-top: -70px;
    margin-left: 270px;
    height: 33px;
    width:  33px;
}

.currentImage{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.currentDescrizione{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Title{
    text-align: center;
    margin-top: 60px;
    font-size: large;
    
}

.buttn{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 50px;
}

ion-toolbar {
    --border-style:hidden;
}

.nome{
    text-align: center;
    margin-top: 30px;
    color: #875dd4;
    font-size: larger;
    
}

.trash{
    height: 30px;
    width: 30px;
    margin-top: -29.5px;
    z-index: 3;
    color: red;
}

 
